.grid-container {
    height: 95vh;
    display: grid;
    gap: 2vh;
    margin: 2vh;
}

.grid-item {
    background-color: rgb(68, 228, 172);
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: rgb(0, 116, 84);
}

.item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: rgb(117, 176, 23);
}

.item-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(216, 218, 0);
}

.item-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    background-color: rgb(38, 136, 63);
}

.item-5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: rgb(235, 236, 29);
}

.item-6 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: rgb(255, 255, 55);
}

.item-7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 11;
    background-color: rgb(75, 156, 42);
}

.item-8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
    background-color: rgb(160, 197, 0);
}

.item-9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 11;
    background-color: rgb(183, 204, 0);
}

.item-10 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 11;
    background-color: rgb(206, 209, 0);
}

.item-11 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
    background-color: rgb(0, 116, 84);
}

.item-12 {
    grid-column: 1 / span 6;
    grid-row: 11 / span 2;
    font-family: Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 700;
    align-content: center;
    background-color: rgb(144, 186, 180);
}

.animation {
    transition: transform 0.3s ease;
}

.animation:hover {
    transform: scale(1.03);
}